.button {
  display: block;

  font-family: $oswald;
  color: $light;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  padding: 10px;

  background-color: $basic-green;

  &:hover {
    background-color: $basic-green-3;
  }

  &:active {
    color: rgba($color: $light, $alpha: 0.3);
  }
}
