.form {
  font-family: $oswald;
  color: $dark-grey;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;

    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.form__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;

    margin-bottom: 50px;
  }
}

.form__group {
  margin: 0;
  margin-bottom: 26px;
  padding: 0 20px;
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
    padding: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.form__group--parameters {
  border-bottom: 1px solid $light-grey-6;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.form__group--radio {
  padding-bottom: 19px;
  border-bottom: 1px solid $light-grey-6;

  @media (min-width: $tablet-width) {
    margin-top: 72px;
    padding: 25px 28px;
    border: 1px solid $light-grey-7;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.form__group--owner-mail {
  @media (min-width: $tablet-width) {
    margin-top: 76px;
  }
}

.form__group--checkbox {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }
}

.form__group-title {
  margin-bottom: 35px;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 0;
    margin-bottom: 56px;
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.form__list--owner {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    margin-bottom: 70px;
  }
}

.form__list--radio,
.form__list--checkbox {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  justify-content: center;
}

.form__list--checkbox {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 32px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 0;
  }
}

.form__item {
  display: flex;
  align-items: center;

  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form__item:last-child {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__item--radio,
.form__item--checkbox {
  margin: 0;
}

.form__item--owner {
  position: relative;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__label {
  margin-right: 13px;
}

.form__input {
  flex-grow: 1;

  font-family: $oswald;
  color: $dark-grey;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  padding: 14px 15px;

  border: 1px solid $light-grey-7;

  &:hover {
    border-color: $light-grey-4;
  }

  &:active,
  &:focus-visible {
    outline: none;
    border-color: $dark-grey;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;

    padding: 11px 20px;
  }
}

.form__input-mail,
.form__input-tel {
  flex-grow: 1;

  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 13px;
    right: 12px;
    background-repeat: no-repeat;
    background-size: 20px 20px;

    @media (min-width: $tablet-width) {
      top: 16px;
      right: 14px;
    }

    @media (min-width: $desktop-width) {
      right: 16px;
    }
  }
}

.form__input-mail::after {
  background-image: url("../img/icons/email-stroke.svg");
}

.form__input-tel::after {
  background-image: url("../img/icons/phone-stroke.svg");
}

.form__input--owner {
  width: 100%;
  padding: 14px 44px 14px 15px;

  @media (min-width: $tablet-width) {
    padding: 11px 46px 11px 20px;
  }
}

.form__textarea {
  font-family: $oswald;
  color: $dark-grey;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  padding: 14px;
  height: 150px;
  width: 100%;
  resize: none;

  border: 1px solid $light-grey-7;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    margin-top: 30px;
    height: 175px;
    padding: 11px 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 22px;
    margin-bottom: 70px;
  }
}

.form__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
  }
}

.form__button {
  width: calc(100% - 40px);
  cursor: pointer;
  margin: 0 20px;
  border: none;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0;
  }
}

.form__text {
  font-family: $lato;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: none;

  margin: 20px 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: left;
  }
}

.form__control {
  position: relative;
  display: block;
  padding: 6px 0 6px 45px;

  &:hover .form__mark {
    border: 1px solid $light-grey-8;
  }

  @media (min-width: $tablet-width) {
    padding: 11px 0 11px 60px;
  }
}

.form__mark {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $light-grey-4;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__mark--radio {
  border-radius: 50%;
}

.form__radio:checked + .form__mark::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  background-color: $basic-green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.form__checkbox:checked + .form__mark::before {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  background-image: url("../img/icons/tick.svg");
  background-repeat: no-repeat;
  background-size: 26px 26px;
}
