.gift {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 290px;

  background-image: image-set(
    url("../img/catalog/cat-case-mobile.webp") type("image/webp") 1x,
    url("../img/catalog/cat-case-mobile.png") type("image/png") 1x
  );
  background-repeat: no-repeat;
  background-color: $basic-green;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: image-set(
      url("../img/catalog/cat-case-mobile@2x.webp") type("image/webp") 2x,
      url("../img/catalog/cat-case-mobile@2x.png") type("image/png") 2x
    );
  }

  &::before {
    position: absolute;
    content: "";
    width: 78px;
    height: 80px;
    top: 59px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-size: 78px 80px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
    column-gap: 0;
    row-gap: 0;
    height: 200px;
    background-image: image-set(
      url("../img/catalog/cat-case-tablet.webp") type("image/webp") 1x,
      url("../img/catalog/cat-case-tablet.png") type("image/png") 1x
    );

    @media (min-resolution: 2dppx) {
      background-image: image-set(
        url("../img/catalog/cat-case-tablet@2x.webp") type("image/webp") 2x,
        url("../img/catalog/cat-case-tablet@2x.png") type("image/png") 2x
      );
    }

    &::before {
      content: "";
      top: 55px;
      left: 77px;
      width: 80px;
      height: 83px;
      background-size: 80px 83px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    column-gap: 0;
    row-gap: 46px;
    height: 288px;
    background-image: image-set(
      url("../img/catalog/cat-case-mobile.webp") type("image/webp") 1x,
      url("../img/catalog/cat-case-mobile.png") type("image/png") 1x
    );

    @media (min-resolution: 2dppx) {
      background-image: image-set(
        url("../img/catalog/cat-case-mobile@2x.webp") type("image/webp") 2x,
        url("../img/catalog/cat-case-mobile@2x.png") type("image/png") 2x
      );
    }

    &::before {
      content: "";
      left: auto;
    }
  }
}

.gift__title {
  display: block;

  color: $light;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  max-width: 161px;
  margin: 0;
  margin-top: 187px;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin: 0;
    margin-left: 298px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin: 0;
    margin-top: 138px;
  }
}
