.gift {
  height: 290px;

  background-image: url("../img/cat-case.png");
  background-repeat: no-repeat;
  background-color: $basic-green;

  width: 280px;

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 285px;
    // картинка пока старая, потом изменю на картинку с нужными параметрами
  }
}

.gift__title {
  color: $light;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  margin: 0;
}
