.how {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    padding-bottom: 47px;
    margin-bottom: 45px;
    border-bottom: 1px solid $light-grey-3;
  }

  @media (min-width: $desktop-width) {
    border: none;
    padding-bottom: 0;
    margin-bottom: 70px;
  }
}

.how__wrapper {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.how__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 0 20px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 130px;
    row-gap: 37px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.how__item {
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    padding: 150px 0 57px 0;
  }
}

.how__description {
  color: $dark-grey;

  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
