.how {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    padding-bottom: 47px;
    margin-bottom: 45px;
    border-bottom: 1px solid $light-grey-3;
  }

  @media (min-width: $desktop-width) {
    border: none;
    padding-bottom: 0;
    margin-bottom: 70px;
  }
}

.how__wrapper {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.how__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 0 20px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 130px;
    row-gap: 37px;
    padding: 0;
    counter-reset: how__list-number;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.how__item {
  position: relative;
  padding-left: 80px;
  min-height: 60px;

  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: left top;

  @media (min-width: $tablet-width) {
    padding: 150px 0 57px 0;

    background-size: 80px 80px;
    background-position: left 40px;

    &::before {
      position: absolute;
      min-width: 112px;
      height: 280px;
      font-family: $oswald;
      font-size: 280px;
      line-height: 280px;
      text-align: center;
      color: $light-grey;
      counter-increment: how__list-number;
      content: counter(how__list-number);
      top: 0;
      left: 113px;
      z-index: -1;
    }
  }
}

.how__item--composition {
  background-image: url("../img/how-1.svg");
}

.how__item--structure {
  background-image: url("../img/how-2.svg");
}

.how__item--exchange {
  background-image: url("../img/how-3.svg");
}

.how__item--result {
  background-image: url("../img/how-4.svg");
}

.how__description {
  display: block;
  color: $dark-grey;

  margin: 0;

  @media (min-width: $tablet-width) {
    max-width: 245px;

    font-size: 16px;
    line-height: 24px;
  }
}
