.main-inner {
  flex-grow: 1;
  overflow-x: hidden;
}

.main-inner__wrapper {
  width: 100%;
  max-width: 1220px;
  padding-top: 26px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    padding-top: 65px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 75px;
  }
}

.main-inner__wrapper--form {
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
    padding-top: 56px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 74px;
  }
}

.main-inner__wrapper--catalog {
  @media (min-width: $tablet-width) {
    padding-top: 56px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
  }
}

.main-inner__title {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-inner__title--catalog {
  margin-bottom: 37px;
}

.main-inner__text {
  font-family: $oswald;
  color: $dark;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  margin: 0 0 37px 0;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    margin: 54px 0 66px 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    line-height: 29px;
  }
}
