.main-inner {
  flex-grow: 1;
}

.main-inner__wrapper {
  width: 100%;
  max-width: 1220px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.main-inner__wrapper--form {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    width: calc(100% - 140px);
  }

  @media (min-width: $desktop-width) {
    width: calc(100% - 220px);
  }
}

.main-inner__catalog {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 75px;
  }
}

.main-inner__text {
  font-family: $oswald;
  color: $dark;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  margin: 0 0 18px 0;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    margin: 54px 0 66px 0;
    padding: 0;
  }
}
