.main-nav {
  position: relative;
  color: $dark;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 55px;
  }
}

.main-nav__logo {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  height: 65px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    display: flex;
    column-gap: 12px;

    padding: 0;
  }
}

.main-nav__logo-image {
  grid-column: 1 / 2;
  justify-self: start;
}

.main-nav__logo-text {
  grid-column: 2 / 3;
  justify-self: center;
}

.main-nav__toggle {
  position: absolute;
  display: block;
  right: 20px;
  top: 20px;
  width: 24px;
  height: 24px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: $dark;
    box-shadow: 0 8px 0 0 $dark, 0 16px 0 0 $dark;
  }
}

.main-nav__toggle--active {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: $dark;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;

  display: none;

  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: $light;

  @media (min-width: $tablet-width) {
    position: static;
    display: flex;
    column-gap: 33px;
  }
}

.main-nav__list--active {
  display: block;
}

.main-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  border-bottom: 1px solid $light-grey-3;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    width: auto;
    padding: 0;
    border: none;
  }
}

.main-nav__item:first-child {
  border-top: 1px solid $light-grey-3;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-nav__link {
  font-family: $oswald;
  color: $dark;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: normal;
  }
}
