.main-footer {
  color: $dark;
  background-color: $light-grey-5;
}

.main-footer__wrapper {
  width: 100%;
  max-width: $max-width;
  padding: 40px 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    min-height: 147px;
    padding: 55px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 0;
  }
}

.main-footer__logo {
  display: block;
  text-align: center;
  padding-bottom: 20px;

  border-bottom: 1px solid $light-grey-6;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding: 0;
    border: none;
  }
}

.main-footer__copyright {
  padding: 20px 0 0 0;

  @media (min-width: $tablet-width) {
    justify-self: end;
    padding: 0;
  }
}

.main-footer__copyright-link {
  color: $dark-grey;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;

  display: block;
}
