.main-footer {
  color: $dark;
  background-color: $light-grey-5;
}

.main-footer__wrapper {
  width: 100%;
  max-width: $max-width;
  padding: 40px 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    min-height: 147px;
    padding: 58px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 0;
  }
}

.main-footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  justify-self: start;

  border-bottom: 1px solid $light-grey-6;

  &:hover .main-footer__logotype {
    fill: #3e3e3e;
  }

  &:active .main-footer__logotype {
    fill: #6b6b6b;
  }

  &:focus-visible {
    outline: 2px solid $dark-grey;
    outline-offset: 2px;
  }

  &:focus-visible .main-footer__logotype {
    fill: #3e3e3e;
  }

  @media (min-width: $tablet-width) {
    text-align: left;
    padding: 0;
    border: none;
  }
}

.main-footer__copyright {
  padding: 19px 0 0 0;

  @media (min-width: $tablet-width) {
    justify-self: end;
    padding: 0;
  }
}

.main-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $dark-grey;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;

  .main-footer__copyright-image {
    fill: #666666;
  }

  &:hover .main-footer__copyright-image {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    outline: 2px solid $dark-grey;
    outline-offset: 2px;
  }

  &:focus-visible .main-footer__copyright-image {
    fill: $basic-green;
  }

  @media (min-width: $tablet-width) {
    column-gap: 23px;
  }
}
