.main-header {
  min-height: 65px;

  color: #000000;
  background-color: #ffffff;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    min-height: 50px;
    padding: 25px 30px 0 30px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    min-height: 60px;
    padding: 55px 110px 0 110px;
    border: none;
    background: linear-gradient(270deg, #68b738 50%, #ffffff 50%);
  }
}
