.nutrition-programs {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.nutrition-programs__wrapper {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
}

.nutrition-programs__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  margin: 0 20px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    row-gap: 30px;
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin: 0;
  }
}

.nutrition-programs__item {
  background-color: $light-grey;
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding: 77px 316px 50px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 60px 55px 52px;
  }
}

.nutrition-programs__item--slim {
  background-image: url("../img/cat_slim.svg");
  background-repeat: no-repeat;
  background-size: 50px 53px;
  background-position-x: 20px;
  background-position-y: 21px;

  @media (min-width: $tablet-width) {
    background-size: 200px 211px;
    background-position-x: calc(100% - 63px);
    background-position-y: 81px;
  }

  @media (min-width: $desktop-width) {
    background-size: 100px 106px;
    background-position-x: 52px;
    background-position-y: 41px;
  }
}

.nutrition-programs__item--pro {
  background-image: url("../img/cat_pro.svg");
  background-repeat: no-repeat;
  background-size: 67px 50px;
  background-position-x: 13px;
  background-position-y: 24px;

  @media (min-width: $tablet-width) {
    background-size: 268px 200px;
    background-position-x: calc(100% - 29px);
    background-position-y: 91px;
  }

  @media (min-width: $desktop-width) {
    background-size: 134px 100px;
    background-position-x: 33px;
    background-position-y: 47px;
  }
}

.nutrition-programs__title {
  font-family: $oswald;
  color: $dark;
  font-size: 24px;
  line-height: 154%;
  text-transform: uppercase;

  margin: 10px 0 30px 0;
  padding-left: 70px;

  @media (min-width: $tablet-width) {
    margin: 0 0 24px 0;
    font-size: 36px;
    line-height: 100%;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 73px 0;
    padding-left: 162px;
  }
}

.nutrition-programs__description {
  color: $dark-grey;
  font-size: 14px;
  line-height: 129%;
  padding-bottom: 22px;
  margin: 0 0 15px 0;

  border-bottom: 1px solid $light-grey-6;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;

    padding: 0;
    margin: 0 0 48px 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 23px 0;
  }
}

.nutrition-programs__link {
  position: relative;
  display: flex;
  align-items: center;
  width: max-content;

  font-family: $oswald;
  color: $dark;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  text-decoration: none;

  padding: 4px 40px 4px 0;

  &::after {
    position: absolute;
    content: "";
    width: 32px;
    height: 12px;
    right: 0;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-size: 32px 12px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 12px;
    right: 24px;
    background-color: $light-grey;
    z-index: 1;
  }

  &::after,
  &::before {
    transform: translateX(-8px);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}
