.optionally {
  padding: 25px 20px 0 20px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.optionally__title {
  @media (min-width: $tablet-width) {
    transform: translateX(40px);
  }

  @media (min-width: $desktop-width) {
    transform: translateX(0);
    grid-column: 1 / -1;
  }
}

.optionally__list {
  margin: 35px 0 35px 0;
  padding: 0;
  list-style-type: none;

  border-top: 1px solid $light-grey-4;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 4;
    margin: 0;
  }
}

.optionally__item {
  display: grid;
  grid-template-columns: 2fr 1fr;

  padding: 13px 0 19px 0;
  border-bottom: 1px solid $light-grey-4;

  @media (min-width: $tablet-width) {
    grid-template-columns: 4fr 3fr 1fr;
    row-gap: 25px;

    padding: 26px 38px 28px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 8fr 5fr 2fr 7fr;
    column-gap: 40px;
    row-gap: 0;
    align-items: center;

    padding: 15px 0 15px 0;
  }
}

.optionally__product {
  display: block;
  grid-column: 1 / -1;
  justify-self: start;

  font-family: $oswald;
  color: $dark-grey-2;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;

  &:focus-visible {
    outline: 2px solid $dark-grey;
    outline-offset: 2px;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;

    font-size: 20px;
    line-height: 20px;
  }
}

.optionally__type,
.optionally__price {
  color: $dark-grey;
  font-size: 14px;
  line-height: 14px;

  margin: 13px 0 19px 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;

    margin: 0;
  }
}

.optionally__type {
  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    justify-self: end;
  }

  @media (min-width: $desktop-width) {
    justify-self: start;
  }
}

.optionally__price {
  justify-self: end;
  padding-right: 14px;
  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
  background-size: 8px 16px;
  background-position: right center;

  @media (min-width: $tablet-width) {
    grid-column: 3 / 4;
    background-size: 10px 20px;
  }
}

.optionally__button {
  grid-column: 1 / -1;

  @media (min-width: $desktop-width) {
    grid-column: 4 / 5;
  }
}

.optionally__gift {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    grid-column: 4 / 5;
  }
}
