.show-more {
  padding: 25px 0 0 0;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    top: 19px;
    left: calc(50% - 15px);
    background-color: #d3d3d3;
  }

  &::after {
    rotate: 90deg;
  }

  @media (min-width: $tablet-width) {
    padding: 41px 0 0 0;

    &::before,
    &::after {
      top: 81px;
      width: 60px;
      left: calc(50% - 30px);
    }
  }

  @media (min-width: $desktop-width) {
    &::before,
    &::after {
      top: 79px;
    }
  }
}

.show-more__title {
  display: block;
  font-family: $oswald;
  color: $dark-2;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;

  padding-top: 32px;
  margin: 0 auto 8px auto;

  @media (min-width: $tablet-width) {
    max-width: 170px;

    font-size: 20px;
    line-height: 24px;

    padding-top: 121px;
    margin: 0 auto 23px auto;
  }

  @media (min-width: $desktop-width) {
    padding-top: 109px;
    margin: 0 auto 25px auto;
  }
}

.show-more__text {
  color: $dark-grey;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0 0 21px 0;

  @media (min-width: $tablet-width) {
    max-width: 170px;

    font-size: 16px;
    line-height: 18px;

    margin: 0 auto 82px auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 90px;
  }
}

.show-more__button {
  display: block;

  font-family: $oswald;
  color: $dark-grey;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  padding: 10px;

  background-color: $light-grey;

  &:hover {
    background-color: $light-grey-2;
  }

  &:active {
    background-color: $light-grey-2;
  }

  &:focus-visible {
    outline: 2px solid $dark-grey;
    outline-offset: 0;
  }
}
