.show-more {
  padding: 25px 0;
}

.show-more__title {
  display: block;
  font-family: $oswald;
  color: $dark-2;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  padding-top: 53px;
  margin: 0 auto 8px auto;

  @media (min-width: $tablet-width) {
    max-width: 170px;

    font-size: 20px;
    line-height: 24px;

    padding-top: 110px;
    margin: 0 auto 23px auto;
  }
}

.show-more__text {
  color: $dark-grey;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0 0 21px 0;

  @media (min-width: $tablet-width) {
    max-width: 170px;

    font-size: 16px;
    line-height: 18px;

    margin: 0 auto 82px auto;
  }
}

.show-more__button {
  display: block;

  font-family: $oswald;
  color: $dark-grey;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  padding: 10px;

  background-color: $light-grey;
}
