.slogan {
  font-family: $oswald;
  color: $light;
  font-size: 14px;
  line-height: 100%;

  background: linear-gradient(180deg, $basic-green 60%, $light 60%);
  background-image: url("../img/green-cat.png");
  background-repeat: no-repeat;
  background-position: top center;

  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    color: $dark;
    background: none;

    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
    background: linear-gradient(270deg, $basic-green 50%, $light 50%);
  }
}

.slogan__wrapper {
  width: 100%;
  max-width: $max-width;
  padding: 27px 0 0 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    padding-top: 65px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 110px;
  }
}

.slogan__header {
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-left: 90px;
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    margin-bottom: 52px;
  }
}

.slogan__title {
  font-size: 36px;
  line-height: 100%;

  margin: 0 0 25px 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    margin: 0 0 40px 0;
  }
}

.slogan__text {
  text-transform: uppercase;

  margin: 0 0 29px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.slogan__image {
  text-align: center;
}

.slogan__choose-program {
  margin: 0 30px;

  @media (min-width: $tablet-width) {
    width: 244px;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}
