.title {
  font-family: $oswald;
  color: $dark;
  font-size: 36px;
  line-height: 40px;

  margin: 0 0 40px 0;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;

    margin: 0 0 30px 0;
    padding: 0;
  }
}
