// Fonts
$oswald: "Oswald", sans-serif;
$lato: "Lato", sans-serif;

// Colors
$light: #ffffff;
$dark: #000000;
$dark-2: #111111;
$basic-green: #68b738;
$light-grey: #f2f2f2;
$light-grey-2: #ebebeb;
$light-grey-3: #e6e6e6;
$light-grey-4: #cdcdcd;
$light-grey-5: #eaeaea;
$light-grey-6: #d9d9d9;
$light-grey-7: #e7e7e7;
$dark-grey: #444444;
$dark-grey-2: #222222;

// Viewports
$tablet-width: 768px;
$desktop-width: 1280px;
$max-width: 1220px;
